<%= flash[:success] 
<%= render 'public/shared/profile', customer: @customer %>
<h3><%= @customer.nickname %>のつぶやき</h3>

<% if @whispers.present? %>
  <table>
    <% @whispers.each do |whisper| %>
      <tr>
        <td><%= render 'public/shared/icon', customer: @customer %></td>
        <td><%= @customer.nickname %></td>
      </tr>
      <tr>
        <td>
          <%= link_to whisper_path(whisper.id) do %>
            <%= whisper.content %>
          <% end %>
        </td>
      </tr>
      <% if whisper.images.present? %>
        <tr>
          <td>
            <% whisper.images.each do |image| %>
              <%= image_tag image.to_s %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <!--<tr><td>作成日時等</td></tr>-->
    <% end %>
  </table>
<% else %>
  <%= @customer.nickname %>さんはまだつぶやいていません。
<% end %>