<%= flash[:success] %>
<%= render 'public/shared/profile', customer: @customer %>
<h3><%= @customer.nickname %>のトレーニング</h3>

<% if @workouts.present? %>
  <table>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= render 'public/shared/workout_post', workout: workout %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <%= @customer.nickname %>さんはまだトレーニングを投稿していません。
<% end %>