<div>
  <%= render "public/shared/icon", customer: whisper.customer %>
  <%= whisper.customer.nickname %>
  <% if controller.action_name == 'show' && whisper.customer_id == current_customer.id %>
    <%= link_to "削除する", whisper_path, method: :delete %>
  <% end %>
</div>
<div>
  <%= link_to whisper_path(whisper.id) do %>
    <%= whisper.content %>
  <% end %>
</div>
<div>
  <% if whisper.images.present? %>
    <% whisper.images.each do |image| %>
      <%= image_tag image.to_s %>
    <% end %>
  <% end %>
</div>
<div>
  <div>
    <i class="fa-regular fa-comment"></i>
    <%= whisper.whisper_comments.count %>
  </div>
  <!--お気に入り-->
  <!--リストに追加-->
  <%= l whisper.created_at, format: :short %>
</div>

<% if controller.action_name == 'show' %>
  <%= render partial: 'public/shared/whisper_comment', locals: { whisper: whisper, whisper_comment: whisper_comment } %>
<% end %>