<div class="container pt-3">
  <% if customer_signed_in? %>
    <div class="row">
      <div class="form-group">
        <%= form_with model: [whisper, whisper_comment], class: "row align-items-end" do |f| %>
          <div class="col-xs-8">
            <%= f.text_area :comment, class: "form-control", cols: '50', placeholder: "コメントを記入してください。" %>
          </div>
          <div class="col-xs-4">
            <%= f.submit "送信する", class: "btn btn-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <table class="table", style="table-layout:fixed;width:100%;">
      <!--変数[whisper_comment]の定義-->
      <% whisper_comment = whisper.whisper_comments.page(params[:page]).per(20) %>

      <% whisper_comment.each do |whisper_comment| %>
        <tr>
          <td class="col-3">
            <%= link_to whispers_customer_path(whisper_comment.customer_id), class: "link" do %>
              <%= render "public/shared/icon", customer: whisper_comment.customer %>
              <%= whisper_comment.customer.nickname %>
            <% end %>
          </td>
          <td class="col-5"><%= simple_format(whisper_comment.comment) %></td>
          <td class="col-2"><%= l whisper_comment.created_at, format: :short %></td>
          <td class="col-2">
            <% if customer_signed_in? && whisper_comment.customer_id == current_customer.id %>
              <span data-comment-id=<%= whisper_comment.id %> class="js-edit-comment-button">
                <i class="fas fa-edit"></i>
              </span>
              <div id="js-comment-<%= whisper_comment.id %>">
                <%= render "public/shared/js_comment", comment: whisper_comment %>
              </div>
              
              <%= link_to "コメントを削除", whisper_whisper_comment_path(whisper_comment.whisper, whisper_comment), class: "btn btn-sm btn-danger", method: :delete %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= paginate whisper_comment %>
  </div>
</div>