<div class="container">
  <div class="row">
    <div class="col-8">
      <%= link_to whispers_customer_path(whisper.customer_id), class: "link" do %>
        <%= render "public/shared/icon", customer: whisper.customer %>
        <%= whisper.customer.nickname %>
      <% end %>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-6 d-flex justify-content-end">
          <% if customer_signed_in? && controller.action_name =='show' && whisper.customer_id == current_customer.id %>
            <%= link_to "投稿を編集する", edit_whisper_path, class: "btn btn-sm btn-success" %>
          <% end %>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <% if customer_signed_in? && controller.action_name == 'show' && whisper.customer_id == current_customer.id %>
            <%= link_to "投稿を削除する", whisper_path, class: "btn btn-sm btn-danger", method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <%= link_to whisper_path(whisper.id), class: "link" do %>
      <%= simple_format(whisper.content) %>
    <% end %>
  </div>
  <div class="row">
    <% if whisper.images.present? %>
      <% whisper.images.each do |image| %>
        <div class="mr-2"><%= image_tag image.to_s %></div>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-4">
      <i class="fa-regular fa-comment"></i>
      <%= whisper.whisper_comments.count %>
    </div>
    <div class="col-4">
      <%= render "public/shared/whisper_bookmark", whisper: whisper %>
    </div>
    <div class="col-4 text-right">
      <%= l whisper.created_at, format: :short %>
    </div>
  </div>

  <% if controller.action_name == 'show' %>
    <%= render partial: 'public/shared/whisper_comment', locals: { whisper: whisper, whisper_comment: whisper_comment } %>
  <% end %>
</div>