<div class="container">
  <div class="row">
    <div class="col-8">
      <%= link_to workouts_customer_path(workout.customer_id), class: "link" do %>
        <%= render "public/shared/icon", customer: workout.customer %>
        <%= workout.customer.nickname %>
      <% end %>
    </div>
    <div class="col-4 d-flex align-items-end justify-content-end">
      <% if customer_signed_in? && controller.action_name == 'show' && workout.customer_id == current_customer.id %>
        <%= link_to "投稿を削除する", workout_path, class: "btn btn-sm btn-danger", method: :delete %>
      <% end %>
    </div>
  </div>
  <div class= "row">
    <%= link_to workout_path(workout.id), class: "font-weight-bold link" do %>
      <%= workout.name %>
    <% end %>
  </div>
  <div class= "row">
    <%= simple_format(workout.introduction) %>
  </div>
  <div class= "row">
    <% if workout.images.present? %>
      <% workout.images.each do |image| %>
        <div class="mr-2"><%= image_tag image.to_s %></div>
      <% end %>
    <% end %>
  </div>
  <div class= "row">
    <% workout.tags.each do |tag| %>
      <div class="mr-3">
        <i class="fa-solid fa-tag"></i>
        <%= tag.tag_name %>
      </div>
    <% end %>
  </div>
  <div class= "row">
    <div class= "col-4">
      <i class="fa-regular fa-comment"></i>
      <%= workout.workout_comments.count %>
    </div>
    <div class= "col-4">
      <%= render "public/shared/workout_bookmark", workout: workout %>
    </div>
    <!--リストに追加-->
    <div class= "col-4 text-right">
      <%= l workout.created_at, format: :short %>
    </div>
  </div>
  <% if controller.action_name == 'show' %>
    <%= render partial: 'public/shared/workout_comment', locals: { workout: workout, workout_comment: workout_comment } %>
  <% end %>
</div>