<h3>みんなのつぶやき</h3>
<%= link_to "新しくつぶやく", new_whisper_path %>
<table>
  <% @whispers.each do |whisper| %>
    <tr>
      <td><%= render 'public/shared/icon', customer: whisper.customer %><%= whisper.customer.nickname %></td>
    </tr>
    <%= link_to whisper_path(whisper.id) do %>
      <tr>
        <td><%= whisper.content %></td>
      </tr>
      <tr>
        <td>
          <% if whisper.images.present? %>
            <% whisper.images.each do |image| %>
              <%= image_tag image.to_s %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>