<div class="container">
  <h3 class="font-weight-bold">何をつぶやきますか？</h3>

  <% if @whisper.errors.any? %>
    <%= @whisper.errors.count %>件のエラーが発生しました
    <ul>
      <% @whisper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="row">
    <%= form_with model: @whisper, url: whispers_path, method: :post do |f| %>
      <table class="table table-sm table-borderless">
        <div class="form-group">
          <tr><td><%= f.file_field :images, multiple: true %></td></tr>
          <tr><td><%= f.text_area :content, class: "form-control ", placeholder: "内容を入力してください" %></td></tr>
          <tr><td><%= f.submit "つぶやく", class: "btn btn-primary" %></td></tr>
        </div>
      </table>
    <% end %>
  </div>
</div>