<%= render 'admin/shared/large_icon', customer: @customer %>
<%= @customer.nickname %>
<table>
  <tr>
    <td>自己紹介文</td>
    <td><%= @customer.self_introduction %></td>
  </tr>
  <tr>
    <td>会員ステータス</td>
    <td><%= @customer.status %></td><!--ToDo ステータスを変更するボタンに変更-->
  </tr>
</table>
<%= link_to "つぶやき一覧へ", admin_customer_whispers_path %>
<%= link_to "トレーニング一覧へ", admin_customer_workouts_path %>