<%= render 'admin/shared/large_icon', customer: @customer %>
<%= @customer.nickname %>
<table>
  <tr>
    <td>自己紹介文</td>
    <td><%= @customer.self_introduction %></td>
  </tr>
  <tr>
    <td>会員ステータス</td>
    <td><%= @customer.status %></td>
    <td>
      <% if @customer.is_deleted %>
        <%= link_to "有効にする", admin_customer_withdrawal_path(@customer.id), method: :patch %>
      <% else %>
        <%= link_to "退会させる", admin_customer_withdrawal_path(@customer.id), method: :patch %>
      <% end %>
    </td>
  </tr>
</table>
<%= link_to "つぶやき一覧へ", admin_customer_whispers_path %>
<%= link_to "トレーニング一覧へ", admin_customer_workouts_path %>