<h3>登録済みタグ一覧</h3>
<%= flash[:notice] %>
<%= flash[:alert] %>

<%= form_with model: @tag, url: admin_tags_path, method: :post do |f| %>
  <table>
    <tbody>
      <tr>
        <td>タグ名</td>
        <td><%= f.text_field :name, :size=>"35" %></td>
        <td colspan="2"></td>
        <td><%= f.submit "新規登録" %></td>
      </tr>
    </tbody>
<% end %>
    <thead>
      <tr>
        <th>タグ</th>
        <th colspan="6"></th>
      </tr>
    </thead>
    <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <td><%= tag.name %></td>
          <td colspan="3"></td>
          <td>
            <%= link_to "タグを変更する", edit_admin_tag_path(tag.id) %>
            <%= link_to "タグを削除する", admin_tag_path(tag.id), method: :delete, "data-confirm" => "本当にタグを削除しますか？" %>
          </td>
        </tr>
      <% end 
    </tbody>
  </table>