<!DOCTYPE html>
<html>
  <head>
    <title>みんなでWorkout</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <!--logo-->
        <% if admin_signed_in? %>
          <!--ユーザーアイコン&名前-->
          <ul><!--ドロップダウンメニュー-->
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
          </ul>
          <%= link_to "トレーニング一覧", admin_root_path %>
          <%= link_to "つぶやき一覧", admin_whispers_path %>
          <%= link_to "ユーザー一覧", admin_customers_path %>
        <% elsif customer_signed_in? %>
          <!--ユーザーアイコン&名前-->
          <ul><!--ドロップダウンメニュー-->
            <li><%= link_to "マイページ", workouts_customer_path(current_customer.id) %></li>
            <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
          </ul>
          <%= link_to "トレーニング一覧", workouts_path %>
          <%= link_to "つぶやき一覧", whispers_path %>
          <!--検索画面へ-->
        <% else %>
          <!--デフォルト画像&名前(ログインしてください)-->
          <ul><!--ドロップダウンメニュー-->
            <li><%= link_to "新規登録", new_customer_registration_path %></li>
            <li><%= link_to "ログイン", new_customer_session_path %></li>
          </ul>
          <%= link_to "トレーニング一覧", workouts_path %>
          <%= link_to "つぶやき一覧", whispers_path %>
          <!--検索画面へ-->
        <% end %>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer></footer>
  </body>
</html>
