<!DOCTYPE html>
<html>
  <head>
    <title>みんなでWorkout</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!--logo-->
      <!--ユーザーアイコン&名前-->
      <!--トレーニング一覧へ-->
      <!--つぶやき一覧へ-->
      <!--検索画面へ-->
    </header>
    <main>
      <%= yield %>
    </main>
    <footer></footer>
  </body>
</html>
