<!DOCTYPE html>
<html>
  <head>
    <title>みんなでWorkout</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0d6e0ddc74.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="container">
          <% if admin_signed_in? %>
            <div class="row">
              <%= link_to admin_root_path, class: "navbar-brand link" do %>
                みんなで<i class="fa-solid fa-dumbbell"></i>WorkOut
              <% end %>
              <%= image_tag "no-icon.png", size: "50x50" %>
              <p>管理アカウント</p>
              <ul class="navbar-nav"><!--ドロップダウンメニュー-->
                <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, class:"nav-link", method: :delete %></li>
              </ul>
            </div>
            <div class="row">
              <%= link_to "トレーニング一覧", admin_root_path %>
              <%= link_to "つぶやき一覧", admin_whispers_path %>
              <%= link_to "ユーザー一覧", admin_customers_path %>
            </div>
          <% elsif customer_signed_in? %>
            <div class="row">
              <%= link_to root_path, class: "navbar-brand link" do %>
                みんなで<i class="fa-solid fa-dumbbell"></i>WorkOut
              <% end %>
              <% if current_customer.image.present? %>
                <%= image_tag current_customer.image_url(:icon) %>
              <% else %>
                <%= image_tag 'no-icon.png', size: "50x50" %>
              <% end %>
              <%= current_customer.nickname %>
              <ul><!--ドロップダウンメニュー-->
                <li><%= link_to "マイページ", workouts_customer_path(current_customer.id) %></li>
                <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
              </ul>
            </div>
            <div class="row">
              <%= link_to "トレーニング一覧", workouts_path %>
              <%= link_to "つぶやき一覧", whispers_path %>
            </div>
          <% else %>
            <div class="row">
              <%= link_to root_path, class: "navbar-brand link" do %>
                みんなで<i class="fa-solid fa-dumbbell"></i>WorkOut
              <% end %>
              <%= image_tag "no-icon.png", size: "50x50" %>
              <p>ログインしてください</p>
              <ul><!--ドロップダウンメニュー-->
                <li><%= link_to "新規登録", new_customer_registration_path %></li>
                <li><%= link_to "ログイン", new_customer_session_path %></li>
              </ul>
            </div>
            <div class="row">
              <%= link_to "トレーニング一覧", workouts_path %>
              <%= link_to "つぶやき一覧", whispers_path %>
            </div>
          <% end %>
        </div>
      </nav>
    </header>
    <main>
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>
    <footer></footer>
  </body>
</html>
